<a href="https://colab.research.google.com/github/EvaLiho/WoTech/blob/main/06_07_24_Pandas_Intro_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS SEARIES

In [ ]:
import pandas as pd

In [ ]:
data_list = [10,20,30,40,50]
print(data_list)

[10, 20, 30, 40, 50]

###PANDAS SERIES

In [ ]:
series_from_list = pd.Series(data_list)
print(series_from_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### PANDAS DATAFRAME

In [ ]:
dataframe_from_list = pd.DataFrame(data_list)
print(dataframe_from_list)

    0
0  10
1  20
2  30
3  40
4  50

### Pandas Series from Dictionary

In [ ]:
data_dict = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

series_from_dict = pd.Series(data_dict)
print(series_from_dict)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [ ]:
csv_data = "10,20,30,40,50"
csv_data.split(',')

['10', '20', '30', '40', '50']

In [ ]:
series_from_list_split = pd.Series(csv_data.split(','))
print(series_from_list_split)

0    10
1    20
2    30
3    40
4    50
dtype: object

### DataFrames

In [ ]:
data_list = [
    ['John', 30, 68.5, True, 95.5],
    ['Alice', 25, 63.2, False, 88.0],
    ['Bob', 35, 71.0, True, 76.5],
    ['Eve', 28, 65.8, False, 92.0],
    ['Charlie', 40, 72.3, False, 87.5]
]

column_names = ['Name', 'Age', 'Weight','Is Student', 'Score']
pd.DataFrame(data_list, columns=column_names)

      Name  Age  Weight  Is Student  Score
0     John   30    68.5        True   95.5
1    Alice   25    63.2       False   88.0
2      Bob   35    71.0        True   76.5
3      Eve   28    65.8       False   92.0
4  Charlie   40    72.3       False   87.5

### Woeking with a CSV file

In [ ]:
df = pd.read_csv('/content/transaction_dataset.csv')

ParserError: Error tokenizing data. C error: Expected 9 fields in line 26568, saw 10

In [ ]:
df.head() # first 5 rows of the dataframe