<a href="https://colab.research.google.com/github/EvaLiho/WoTech/blob/main/15_06_2024_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TEXT FILES

In [17]:
filename = '/content/2024_06_14_births.txt' #location of the file

with open(filename, 'r') as file: # r - read mode
  content = file.read()

print('Standard File I/O')
print(content)

Standard File I/O
Jan 1048
Feb 989
Mar 1108
Apr 1207
May 1186
Jun 1155
Jul 1391
Aug 1305
Sep 1226
Oct 1155
Nov 1017
Dec 1111

In [14]:
for line in content:
  print(line)

J
a
n

1
0
4
8


F
e
b

9
8
9


M
a
r

1
1
0
8


A
p
r

1
2
0
7


M
a
y

1
1
8
6


J
u
n

1
1
5
5


J
u
l

1
3
9
1


A
u
g

1
3
0
5


S
e
p

1
2
2
6


O
c
t

1
1
5
5


N
o
v

1
0
1
7


D
e
c

1
1
1
1

### READLINES

In [27]:

filename = '/content/2024_06_14_births.txt' #location of the file

with open(filename, 'r') as file: # r - read mode
  content = file.readlines()  # /n - new line

print('Standard File I/O')
print(content)

Standard File I/O
['Jan 1048\n', 'Feb 989\n', 'Mar 1108\n', 'Apr 1207\n', 'May 1186\n', 'Jun 1155\n', 'Jul 1391\n', 'Aug 1305\n', 'Sep 1226\n', 'Oct 1155\n', 'Nov 1017\n', 'Dec 1111\n']

In [16]:
for line in content:
  print(line, end='')

Jan 1048
Feb 989
Mar 1108
Apr 1207
May 1186
Jun 1155
Jul 1391
Aug 1305
Sep 1226
Oct 1155
Nov 1017
Dec 1111

### Modify the code - make file name as input from the user. Enclose the code in try, except if file is not found

In [43]:
filename = input("Please input the file name: ")

try:
  with open(filename, 'r') as file:
    content = file.readlines()

  print("Standard file input/output:")
  print(content)

except:
  print("This filename does not exist!")

TypeError: 'str' object is not callable

In [44]:
#births
with open('/content/2024_06_14_births.txt', 'r') as file:
  births = file.readlines()

In [34]:
for birthline in births:
  print(birthline)

Jan 1048

Feb 989

Mar 1108

Apr 1207

May 1186

Jun 1155

Jul 1391

Aug 1305

Sep 1226

Oct 1155

Nov 1017

Dec 1111

In [35]:
for birthline in births:
  print(birthline[4:]) # value starting index 4

1048

989

1108

1207

1186

1155

1391

1305

1226

1155

1017

1111

### Sum up all the elements

In [42]:
total_sum = 0

for birthline in births:
  total_sum = total_sum + int(birthline[4:])

print(total_sum)

13898

### The file births.txt contains the number of births in Estonia for a certain time period by months, while the file deaths.txt contains the number of deaths. population growth was positive and its size.

  Write a program that finds and outputs the months when the natural

  Update your program so that it also finds and outputs the natural population growth for the entire period covered in the files.

In [45]:
#births
with open('/content/2024_06_14_births.txt', 'r') as file:
  births = file.readlines() #LIST separated by comma

#deaths
with open('/content/2024_06_14_deaths.txt', 'r') as file:
  deaths = file.readlines()

In [54]:
# accessing the number: int(birthline[4:])

for i in range(len(births)):
  birthline = births[i]
  deathline = deaths[i]

  birthnumber = int(birthline[4:])
  deathnumber = int(deathline[4:])

  growth = birthnumber- deathnumber
  month = birthline[:3]

  if growth > 0:
    print(month, growth)

Jun 40
Jul 64
Aug 103
Sep 49