<a href="https://colab.research.google.com/github/EvaLiho/WoTech/blob/main/24_08_2024_Titanic_Data_Training_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data IMPORT

In [81]:
import seaborn as sns
import pandas as pd

titanic_data = sns.load_dataset('titanic')

In [82]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Data INVESTIGATION

In [61]:
 titanic_data.dtypes   # checking datatypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

# Data TRANSFORMATION

In [83]:
# modify the object categorie to string

titanic_data['class'] = titanic_data['class'].astype(str)

In [84]:
titanic_data.fillna(0, inplace = True)  # replaces empty values with 0

TypeError: Cannot setitem on a Categorical with a new category (0), set the categories first

In [85]:
titanic_data.drop('deck', axis=1, inplace=True)   # removed 'deck' column because there are a lot of empty values

In [86]:
titanic_data.drop(['alive', 'alone', 'adult_male', 'class'], axis=1, inplace=True)

In [87]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,male,22.0,1,0,7.2500,S,man,Southampton
1,1,1,female,38.0,1,0,71.2833,C,woman,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,woman,Southampton
3,1,1,female,35.0,1,0,53.1000,S,woman,Southampton
4,0,3,male,35.0,0,0,8.0500,S,man,Southampton

In [88]:
# SEX COLUMN - changing 'male', 'female' with 0 and 1

sex_mapping = {'male': 0, 'female':1}

titanic_data['sex'] = titanic_data['sex'].map(sex_mapping)

In [89]:
# EMBARK TOWN COLUMN

titanic_data['embark_town'].unique()

array(['Southampton', 'Cherbourg', 'Queenstown', 0], dtype=object)

In [90]:
embark_town_mapping = {'Southampton':1, 'Cherbourg':2, 'Queenstown':3, 0:0}

titanic_data['embark_town'] = titanic_data['embark_town'].map(embark_town_mapping)

In [91]:
# WHO COLUMN

titanic_data['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [92]:
who_mapping = {'man': 0, 'woman':1, 'child':2}

titanic_data['who'] = titanic_data['who'].map(who_mapping)

In [93]:
# EMBARKED COLUMN

titanic_data['embarked'].unique()

array(['S', 'C', 'Q', 0], dtype=object)

In [94]:
embarked_mapping = {'S': 1, 'C':2, 'Q':3, 0:0}

titanic_data['embarked'] = titanic_data['embarked'].map(embarked_mapping)

In [95]:
titanic_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,embark_town
0,0,3,0,22.0,1,0,7.2500,1,0,1
1,1,1,1,38.0,1,0,71.2833,2,1,2
2,1,3,1,26.0,0,0,7.9250,1,1,1
3,1,1,1,35.0,1,0,53.1000,1,1,1
4,0,3,0,35.0,0,0,8.0500,1,0,1

In [96]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    int64
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    int64
 8   who          891 non-null    int64
 9   embark_town  891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

# Data MODEL

In [97]:
from sklearn.model_selection import train_test_split

In [99]:
X = titanic_data.drop('survived', axis=1)  # FEATURES
y = titanic_data['survived']              # DEPENDENT VARIABLE

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, random_state=42) #random_state is optional but it makes sure that every tome the split is the same

### Logistic Regression

In [102]:
# IMPORT
from sklearn.linear_model import LogisticRegression

In [103]:
#INITIALIZE
model = LogisticRegression()

In [104]:
#TRAIN
model.fit(X_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [106]:
prediction_results = model.predict(X_test)

prediction_results

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0])