<a href="https://colab.research.google.com/github/EvaLiho/WoTech/blob/main/06_07_24_Pandas_Intro_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PANDAS

In [5]:
import pandas as pd

In [ ]:
data_list = [10,20,30,40,50]
print(data_list)

[10, 20, 30, 40, 50]

### Pandas Series

In [ ]:
series_from_list = pd.Series(data_list)
print(series_from_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Pandas DataFrame

In [ ]:
dataframe_from_list = pd.DataFrame(data_list)
print(dataframe_from_list)

    0
0  10
1  20
2  30
3  40
4  50

### Pandas Series from Dictionary

In [ ]:
data_dict = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50} # dictionary object

series_from_dict = pd.Series(data_dict)
print(series_from_dict)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [ ]:
#csv data into list object

csv_data = "10,20,30,40,50"   #string
csv_data.split(',')           #split string into list object

['10', '20', '30', '40', '50']

In [ ]:
series_from_list_split = pd.Series(csv_data.split(','))
print(series_from_list_split)

0    10
1    20
2    30
3    40
4    50
dtype: object

### DataFrames

In [ ]:
data_list = [
    ['John', 30, 68.5, True, 95.5],
    ['Alice', 25, 63.2, False, 88.0],
    ['Bob', 35, 71.0, True, 76.5],
    ['Eve', 28, 65.8, False, 92.0],
    ['Charlie', 40, 72.3, False, 87.5]
]

column_names = ['Name', 'Age', 'Weight','Is Student', 'Score']
pd.DataFrame(data_list, columns=column_names)

      Name  Age  Weight  Is Student  Score
0     John   30    68.5        True   95.5
1    Alice   25    63.2       False   88.0
2      Bob   35    71.0        True   76.5
3      Eve   28    65.8       False   92.0
4  Charlie   40    72.3       False   87.5

### Working with a CSV file

In [7]:
df = pd.read_csv('/content/transaction_dataset.csv')  #reading the file

In [10]:
df.head()     #gives you first 5 rows of the dataframe

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,752858,Sean,Rodriguez,F,20/10/2002,35.47,03/04/2023,Smith-Russell,Cosmetic
1,26381,Michelle,Phelps,NaN,24/10/1985,2552.72,17/07/2023,"Peck, Spence and Young",Travel
2,305449,Jacob,Williams,M,25/10/1981,115.97,20/09/2023,Steele Inc,Clothing
3,988259,Nathan,Snyder,M,26/10/1977,11.31,11/01/2023,"Wilson, Wilson and Russell",Cosmetic
4,764762,Crystal,Knapp,F,02/11/1951,62.21,13/06/2023,Palmer-Hinton,Electronics

In [9]:
df.tail()   #last 5 rows of the dataframe

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
49995,891845,Christine,Leach,F,21/10/1997,108.74,30/08/2023,Alexander Ltd,Market
49996,800560,Anna,Allen,F,21/10/1999,133.66,03/05/2023,Knapp-Calhoun,Cosmetic
49997,133285,Nicole,Franklin,M,26/10/1979,464.29,12/02/2023,"Cantrell, Haynes and Ballard",Market
49998,616122,Maria,Keller,M,25/10/1981,472.57,25/03/2023,"Wilson, Jackson and Beard",Market
49999,832184,Billy,Walker,F,31/10/1958,270.67,20/05/2023,Combs LLC,Market

In [11]:
df.head(n=3)    # define how meny rows You see, (5 is default)

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,752858,Sean,Rodriguez,F,20/10/2002,35.47,03/04/2023,Smith-Russell,Cosmetic
1,26381,Michelle,Phelps,NaN,24/10/1985,2552.72,17/07/2023,"Peck, Spence and Young",Travel
2,305449,Jacob,Williams,M,25/10/1981,115.97,20/09/2023,Steele Inc,Clothing

In [12]:
df.shape    #number of rows and columns

(50000, 9)

In [13]:
df.sample(5) #random sample

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
36773,978120,Sonya,Molina,M,31/10/1958,47.09,18/01/2023,"Patrick, Grant and Montoya",Cosmetic
12830,675643,Becky,Lee,NaN,22/10/1994,17.56,04/07/2023,Lowe PLC,Restaurant
14260,374172,Victoria,Solis,F,31/10/1956,80.24,23/07/2023,Wright-Guerra,Restaurant
34164,98075,Cindy,David,NaN,19/10/2005,2239.60,06/06/2023,Cordova PLC,Travel
29660,309686,Tyler,Barnes,NaN,23/10/1990,84.11,20/04/2023,Conrad and Sons,Restaurant

In [14]:
df.info()     #column names, data types (Dtype), how many values NaN - not a number

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         50000 non-null  int64
 1   Name                50000 non-null  object
 2   Surname             50000 non-null  object
 3   Gender              44953 non-null  object
 4   Birthdate           50000 non-null  object
 5   Transaction Amount  50000 non-null  float64
 6   Date                50000 non-null  object
 7   Merchant Name       50000 non-null  object
 8   Category            50000 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.4+ MB

In [15]:
df.describe() #summary statistics of integers/floats

        Customer ID  Transaction Amount
count   50000.00000        50000.000000
mean   500136.79696          442.119239
std    288232.43164          631.669724
min        29.00000            5.010000
25%    251191.50000           79.007500
50%    499520.50000          182.195000
75%    749854.25000          470.515000
max    999997.00000         2999.880000

In [16]:
df.describe(include='object') #summary statistics of strings

,Name,Surname,Gender,Birthdate,Date,Merchant Name,Category
count,50000,50000,44953,50000,50000,50000,50000
unique,690,1000,2,58,287,36939,6
top,Michael,Smith,F,01/11/1954,30/06/2023,Smith Ltd,Restaurant
freq,1167,1095,22713,914,200,69,8413

In [18]:
# How to select 1 column in a DataFrame?
df['Gender']

0          F
1        NaN
2          M
3          M
4          F
        ...
49995      F
49996      F
49997      M
49998      M
49999      F
Name: Gender, Length: 50000, dtype: object

In [19]:
# How many unique values?
df['Gender'].unique()

array(['F', nan, 'M'], dtype=object)

In [24]:
df['Gender']    # we access column by a name, we can access several columns
df.Gender       # accessing column with an attribute
df.iloc[:, 3]   # accessing column with index [row, column] (iloc = index location)

0          F
1        NaN
2          M
3          M
4          F
        ...
49995      F
49996      F
49997      M
49998      M
49999      F
Name: Gender, Length: 50000, dtype: object

In [25]:
df['Gender'].value_counts()    #value counts

Gender
F    22713
M    22240
Name: count, dtype: int64

In [26]:
df['Gender'].value_counts(dropna = False) #shows also empty values

Gender
F      22713
M      22240
NaN     5047
Name: count, dtype: int64

In [27]:
df.isna()   # is value empty or not in binary False = 0, True = 1

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
49995,False,False,False,False,False,False,False,False,False
49996,False,False,False,False,False,False,False,False,False
49997,False,False,False,False,False,False,False,False,False
49998,False,False,False,False,False,False,False,False,False
49999,False,False,False,False,False,False,False,False,False

In [28]:
df.isna().sum()   #shows how ment empty values

Customer ID              0
Name                     0
Surname                  0
Gender                5047
Birthdate                0
Transaction Amount       0
Date                     0
Merchant Name            0
Category                 0
dtype: int64

In [30]:
df.notna()    #not empty

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,True,True,True,True,True,True,True,True,True
1,True,True,True,False,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
49995,True,True,True,True,True,True,True,True,True
49996,True,True,True,True,True,True,True,True,True
49997,True,True,True,True,True,True,True,True,True
49998,True,True,True,True,True,True,True,True,True
49999,True,True,True,True,True,True,True,True,True

In [31]:
df.notna().sum()

Customer ID           50000
Name                  50000
Surname               50000
Gender                44953
Birthdate             50000
Transaction Amount    50000
Date                  50000
Merchant Name         50000
Category              50000
dtype: int64

In [32]:
df.notna().all() #checks if all vales are empty

Customer ID            True
Name                   True
Surname                True
Gender                False
Birthdate              True
Transaction Amount     True
Date                   True
Merchant Name          True
Category               True
dtype: bool

In [34]:
# DROP EMPTY VALUES

df.dropna() #did not override

df.dropna(inplace=True)
df

,Customer ID,Name,Surname,Gender,Birthdate,Transaction Amount,Date,Merchant Name,Category
0,752858,Sean,Rodriguez,F,20/10/2002,35.47,03/04/2023,Smith-Russell,Cosmetic
2,305449,Jacob,Williams,M,25/10/1981,115.97,20/09/2023,Steele Inc,Clothing
3,988259,Nathan,Snyder,M,26/10/1977,11.31,11/01/2023,"Wilson, Wilson and Russell",Cosmetic
4,764762,Crystal,Knapp,F,02/11/1951,62.21,13/06/2023,Palmer-Hinton,Electronics
5,576539,Monica,Bartlett,F,20/10/2001,99.14,24/08/2023,"Tran, Torres and Joyce",Cosmetic
...,...,...,...,...,...,...,...,...,...
49995,891845,Christine,Leach,F,21/10/1997,108.74,30/08/2023,Alexander Ltd,Market
49996,800560,Anna,Allen,F,21/10/1999,133.66,03/05/2023,Knapp-Calhoun,Cosmetic
49997,133285,Nicole,Franklin,M,26/10/1979,464.29,12/02/2023,"Cantrell, Haynes and Ballard",Market
49998,616122,Maria,Keller,M,25/10/1981,472.57,25/03/2023,"Wilson, Jackson and Beard",Market
49999,832184,Billy,Walker,F,31/10/1958,270.67,20/05/2023,Combs LLC,Market

In [35]:
df_new_dataframe = df.dropna() #save it in new df

df.dropna(inplace=True) # specify that you want to override existing df

In [36]:
# Saving file

df.to_csv('cleaned_data.csv')