<a href="https://colab.research.google.com/github/EvaLiho/WoTech/blob/main/Week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### FOR LOOPS

In [ ]:
for letter in "I LOVE PY":    #string iterable object
  print(letter)               #default - \n - new line character - letters in column

In [5]:
for letter in "I LOVE PY":    #string iterable object
  print(letter, end = '')     # end = '' - letters in row

I LOVE PY

### FOR LOOP LIST

In [13]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

In [10]:
for city in cities_i_have_been_to:
  print(f'I have been to {city}')

I have been to Tallin
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspils

In [12]:
counter = 1                   #initialize the COUNTER

for city in cities_i_have_been_to:
  print(f'{counter}. I have been to {city}')
  counter = counter + 1

1. I have been to Tallin
2. I have been to Riga
3. I have been to Tartu
4. I have been to Aluksne
5. I have been to Viru
6. I have been to Ventspils

In [14]:
# ADD PREVIOUS CITY IN THE FOR-LOOP
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 1
previous_city = None

for city in cities_i_have_been_to:
  print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city
  counter = counter + 1

1. I have been to Tallin. The previous city I visited was None.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [18]:
# ADDING IF STATEMENT IN FOR-LOOP
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 1
previous_city = None

for city in cities_i_have_been_to:
  if previous_city == None:
    print(f'{counter}. I have been to {city}.')
  else:
    print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}.')
  previous_city = city
  counter = counter + 1

1. I have been to Tallin.
2. I have been to Riga. The previous city I visited was Tallin.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

### FOR-LOOPS WITH INDEXES

In [33]:
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

In [42]:
cities_i_have_been_to[0]                #indexing an element, starts with 0

'Tallin'

In [43]:
len(cities_i_have_been_to)              #nr of elements

6

In [40]:
range(len(cities_i_have_been_to))

range(0, 6)

In [41]:
list(range(len(cities_i_have_been_to)))

[0, 1, 2, 3, 4, 5]

In [27]:
for i in range(len(cities_i_have_been_to)):
  print(f'This is the index {i}')

This is the index 0
This is the index 1
This is the index 2
This is the index 3
This is the index 4
This is the index 5

In [ ]:
for i in range(len(cities_i_have_been_to)):
  print(cities_i_have_been_to[i])
  print(which_year_I_visited[i])
  print(f'This is the index {i}')

In [38]:
for i in range(len(cities_i_have_been_to)):
  print(f'Ihave been to {cities_i_have_been_to[i]}. I visited that city in {which_year_I_visited[i]}.')

Ihave been to Tallin. I visited that city in 2020.
Ihave been to Riga. I visited that city in 2024.
Ihave been to Tartu. I visited that city in 2020.
Ihave been to Aluksne. I visited that city in 2021.
Ihave been to Viru. I visited that city in 2024.
Ihave been to Ventspils. I visited that city in 2022.

### NESTED LISTS

In [44]:
# NESTED LIST
matrix_2d = [         # can also be written:
    [1, 2, 3],        # matrix_2d = [ [1, 2, 3],[4, 5, 6], [7, 8, 9]]
    [4, 5, 6],
    [7, 8, 9]]

In [45]:
for i in matrix_2d:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [46]:
for i in matrix_2d:
  print(i)          # SUB-LIST
  for j in i:       # ELEMENTS IN SUB-LIST
    print(j)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

### GRADE MAPPING EXERCISE

In [55]:
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']] #NESTED LIST

In [48]:
grade_mapping[0]

[90, 'A']

In [52]:
grade_mapping[1][0]

80

In [63]:
for number_grade, letter_grade in grade_mapping:
  print(letter_grade)

A
B
C
D
F

In [56]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']]

In [64]:
for i in range(len(student_names)):
  print(f'{student_names[i]} score is {student_scores[i]}.')

Alice score is 85.
Bob score is 72.
Charlie score is 93.
David score is 60.
Eva score is 77.

In [65]:
for i in range(len(student_names)):
  score = student_scores[i]
  for number_grade, letter_grade in grade_mapping:
    if score >= number_grade:
      print(f'Hi, {student_names[i]}, Your letter grade is {letter_grade}.')
      break

Hi, Alice, Your letter grade is B.
Hi, Bob, Your letter grade is C.
Hi, Charlie, Your letter grade is A.
Hi, David, Your letter grade is D.
Hi, Eva, Your letter grade is C.

In [ ]:
for i in range(len(student_names)):       #SAME BUT 1 line SHORTER
  for number_grade, letter_grade in grade_mapping:
    if student_scores[i] >= number_grade:
      print(f'Hi, {student_names[i]}, Your letter grade is {letter_grade}.')
      break

ENUMERATE

In [69]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

for index, student in enumerate(student_names, start = 1): #start - so 1st would not be 0
  print(f'Student {index}: {student}')

Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eva

In [ ]:
# ALL 3 POSSIBILITIES

#ENUMERATE
for index, student in enumerate(student_names):
  print(f'Student {index}: {student}')

#COUNTER
counter = 0 #INITIALIZE THE COUNTER
for student in student_names:
  print(f'Student {counter}: {student}')
  counter = counter + 1

#RANGE
for i in range(len(student_names)):
  print(f'Student {i}: {student_names[i]}')

### GROUP WORK

In [93]:
main_list = ['blue', 'yellow', 'green', 'pink', 'red', 'white']

In [97]:
main_list = ['blue', 'yellow', 'green', 'pink', 'red', 'white']

user_colour = input('What is Your favourite colour?: ')
colour = user_colour.lower()

if colour in main_list:
  for i in main_list:
    if colour == i:
      print(f'Your favourite colour {colour} is also one of my favourites')
else:
  print(f'I do not like Your favourite colour {colour}')

What is Your favourite colour?: YELLOW
Your favourite colour yellow is also one of my favourites